#outage-message h1, #outage-message h2, #outage-message h3, #outage-message h4, #outage-message h5, #outage-message p {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; }
#outage-message h1 {
  font-size: 19px;
  font-weight: bold;
  color: black;
  font-family: Arial, sans-serif; }
#outage-message h2 {
  font-weight: bold;
  font-family: Arial, sans-serif; }
#outage-message > ul {
  padding-left: 0;
  display: table;
  margin: 2em 0; }
  #outage-message > ul > li {
    width: 293.66667px;
    display: table-cell;
    vertical-align: top;
    list-style-type: none;
    max-width: 100%;
    border-left: 1px solid #aaa;
    padding-left: 16px;
    padding-right: 16px; }
    #outage-message > ul > li:first-child {
      border-left: none; }
    #outage-message > ul > li > p {
      font-weight: bold; }
    #outage-message > ul > li > ul {
      list-style-type: none;
      padding-left: 0;
      font-size: 0.8em;
      font-style: italic; }
      #outage-message > ul > li > ul li {
        margin-bottom: 1em; }
        #outage-message > ul > li > ul li a {
          display: block;
          font-size: 1.2em;
          font-style: normal; }
